<!DOCTYPE html>
<html>
  <head>
  <title><%=title%></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <p>
    Please fill in your contact information below and click Submit
  </p>
   <form id="estimateContact" action="/submit" method="post">
      <fieldset id="contactInfo">
        <div class="title"><span class="number">1</span> Your basic info</div>
        <label for="name" class="text">Name:<span class="required">*</span></label>
        <input type="text" id="name" name="user_name">
        <label for="business" class="text">Business:<span class="required">*</span></label>
        <input type="text" id="business" name="user_business">
        <label for="address" class="text">Address:<span class="required">*</span></label>
        <input type="text" id="address" name="user_address">
        <label for="phone" class="text">Phone:<span class="required">*</span></label>
        <input type="text" id="phone" name="user_phone">
        <label for="mail" class="text">Email:<span class="required">*</span></label>
        <input type="email" id="mail" name="user_email">
        <label for="mail" class="text">Referred by:</label>
        <input type="text" id="referred" name="user_referred">
      </fieldset>
      <fieldset id="selections">
        <div class="title"><span class="number">2</span>Your Selections:</div>
        <table>
          <tr>
            <td>Size:</td><td><input type="text" id="sizeSelection" name="sizeSelection" value="<%=size%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Depth:</td><td><input type="text" id="depthSelection" name="depthSelection" value="<%=depth%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Face:</td><td><input type="text" id="faceSelection" name="faceSelection" value="<%=face%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Mounting:</td><td><input type="text" id="mountingSelection" name="mountingSelection" value="<%=mount%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Lighting:</td><td><input type="text" id="lightingSelection" name="lightingSelection" value="<%=light%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Paint:</td><td><input type="text" id="paintSelection" name="paintSelection" value="<%=paint%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Total:</td><td><input type="text" id="totalSelection" name="totalSelection" value="<%=total%>" readOnly="true"></td>
          </tr>
          <tr>
            <td>Estimate #:</td><td><input type="text" id="estimateSelection" name="estimateSelection" value="<%=quoteNumber%>" readOnly="true"></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <div class="title"><span class="number">3</span> Any Additional Comments?:</div>
        <label for="message" class="text">Type your message here:</label>
        <textarea id="message" name="message"></textarea>
        <br>
        <button id="contactSubmit" type="submit">Submit</button>
        <label class="text"><span class="required">*required field</span></label>
      </fieldset>
    </form>
    <script src="/js/jquery-2.2.0.min.js?version=020620161319"></script>
    <script src="/js/estimator.js?version=020620161319"></script>
  </body>
</html>